# Copy to secrets.toml and update values if needed
MODEL_PATH = "models/EfficientNetV2S_mouth_cancer.keras"
# METRICS_REPORT_PATH = "reports/training_report.json"
# EVAL_DATASET_DIR = "C:/path/to/evaluation"
